*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28282B;
}

#card{
  border-radius: 40px;
  height: 50em;
  width: 70em;
  background-color: white;
  padding: 15px;
  display: flex;
}
